%h1 Listing restaurants

%table
  %tr
    %th Name
    %th Location
    %th Telephone

  - @restaurants.each do |restaurant|
    %tr
      %td= link_to restaurant.name, restaurant 
      %td= restaurant.location
      %td= restaurant.telephone

%br

- if current_user
  = link_to "Don't see what you're looking for?  Add a new restaurant!", new_restaurant_path
